body{
 background-color: brown;
 margin: 50px;
 padding: 30px;
}


h1{
    color: darksalmon;
text-align: center;
margin: 50px;
padding: 30px; ;

}



h2{
    color: darksalmon;
    text-align: center;
margin: 0px;
padding: 0px;
}



h3{
   color: darksalmon;
   text-align: center;
}
footer p{
    text-align: center;
    font-size: 0,8rem;

}